

.active {
  background: lightgray;
}

input {

  font-size: inherit;
  padding-left: 0.5rem;
  padding-right: 1rem;
  height: 2rem;
  width: 20rem;
  overflow-wrap: break-word;
  border: 1px solid gray;
  position: absolute;
  border-radius: 50px;
  word-wrap: break-word;
  background-color: transparent;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.suggestions {
  padding-top: 40px;
  max-width: 200px;
  text-align: center;
}