.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.top h1 {
  text-align: center;
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: 560px;
  width: 60%;
  padding-top: 65px;
}

.bottom h1 {
  text-align: center;
  font-size: 65px;
  font-style: oblique;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 25px;
  padding-bottom: 30px;
}