.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.top h1 {
  text-align: center;
  font-size: 35px;
  display: block;
  margin-left: auto;
  margin-right: 560px;
  width: 60%;
  padding-top: 78px;
  
}

.bottom h1 {
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  color: #972002;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 4px;
  padding-bottom: 30px;
}

footer {
  font-size: smaller;
  text-align: center;
  width: 100%;
  height: 30px;  
  position: absolute; 
  bottom: 0px; 
  left: 0px; 
}